name: build-wheels

on:
  push:
    branches: [ main ]
    tags: [ "v*" ]
  pull_request:

jobs:
  wheels-linux:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target: [ x86_64, aarch64 ]
        py:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Build wheels (manylinux)
        uses: PyO3/maturin-action@v1
        with:
          command: build
          target: ${{ matrix.target }}
          manylinux: auto
          args: >
            --release
            --out dist
            -i python${{ matrix.py }}

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-linux-${{ matrix.target }}-py${{ matrix.py }}
          path: dist/*.whl
